body {
    background: linear-gradient(to right, #33161d 50%, #f6f1f1 50%);
    margin: 0;
    padding-top: 80px; 
    font-family: 'Roboto', sans-serif;
    color: #1b1616;
}

.navbar {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ebebeb;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #1b1616;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.2s ease;
}

.nav-links a:hover {
    color: #EED6D6;
    transform: scale(1.05);
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 60px 40px;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
    min-width: 300px;
    color:#ebebeb;
}

.about-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #EED6D6;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-image {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

@media (max-width: 900px) {
    .about-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-text, .about-image {
        width: 100%;
    }

    .about-image img {
        width: 80%;
        margin-top: 20px;
    }
}
