body {
    background: linear-gradient(to right, #33161d, #372a2a);
    margin: 0;
    padding-top: 80px; 
    font-family: 'Roboto', sans-serif;
    color: #1b1616;
    text-align: center;
}

.navbar {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ebebeb;
    font-family: "Momo Trust Sans", sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #ebebeb;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.2s ease;
}

.nav-links a:hover {
    color: #EED6D6;
    transform: scale(1.05);
}

h1 {
    color: #EED6D6;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0 20px 60px 20px;
}

.skill-card {
    background-color: #ffffff;
    color: #1b1616;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    width: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card h2 {
    margin-bottom: 15px;
    color: #33161d;
}

.skill-card p {
    margin: 5px 0;
    font-size: 1.1rem;
}

.skill-card:hover {
    transform: tanslateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

@media (max-width: 900px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .skill-card {
        width: 80%;
        min-height: 200px;
        margin-bottom: 20px;
    }
}
